
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <app-pie-chart></app-pie-chart>
    </div>
    <div class="row">
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="row">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
    <div class="row">
      <app-line-chart></app-line-chart>
    </div>
    <div class="row">
      <app-polararea-chart></app-polararea-chart>
    </div>
    <div class="row">
      <app-radar-chart></app-radar-chart>
    </div>
  </div>
</body>
</html>